<html>
<head>
    <title>Créer un potin</title>
</head>
<body>
  <h1>On veut des potins !&#128540;</h1>
  <p>&#128071; Balance ton potin via le formulaire ci-dessous &#128071;</p>
  <form action="/gossips/new/" method="POST">
    Ton nom :  <input type="text" name="gossip_author"><br/>
    Ton potin : <input type="text" name="gossip_content"><br/>
    <input type="submit">
  </form>
</body>
</html>